In [1]:
%matplotlib inline
%matplotlib notebook

# Dependencies
import requests
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import json
import pprint

In [2]:
from nba_api.stats.static import players
players = players.get_active_players()
players_df = pd.DataFrame(players)
players_df = players_df[['id', 'full_name']]
players_df.sort_values(by=['id'])
players_df.sample(10)

          id          full_name
156  1629655     Daniel Gafford
277  1630249         Vit Krejci
162   202331        Paul George
179  1629750      Javonte Green
167  1631221   Collin Gillespie
209  1629312  Haywood Highsmith
26   1630625      Dalano Banton
107   203552         Seth Curry
340  1630596        Evan Mobley
181  1630182         Josh Green

In [ ]:
from nba_api.stats.endpoints import playerawards

lebron_awards = playerawards.PlayerAwards(player_id=2544)
lebron_awards_df = lebron_awards.player_awards.get_data_frame()
lebron_awards_df.set_index('PERSON_ID', inplace=True)
lebron_awards_df.head(10)

In [ ]:
lebron_awards_df['DESCRIPTION'].value_counts()

In [ ]:
lebron_all_nba = lebron_awards_df[lebron_awards_df['DESCRIPTION'] == 'All-NBA']
lebron_all_nba.columns

In [ ]:
lebron_all_nba = lebron_all_nba[['FIRST_NAME', 'LAST_NAME', 'TEAM', 'ALL_NBA_TEAM_NUMBER', 'SEASON', 'CONFERENCE']]
lebron_all_nba.head()

In [ ]:
# def get_awards(ID):
    
#     player_id = int(ID)
    
#     p_awards = playerawards.PlayerAwards(player_id=player_id)
#     p_awards_df = p_awards.player_awards.get_data_frame()
    
#     p_all_nba = p_awards_df[p_awards_df['DESCRIPTION'] == 'All-NBA']
#     p_all_nba = p_all_nba[['PERSON_ID', 'FIRST_NAME', 'LAST_NAME', 'TEAM', 'ALL_NBA_TEAM_NUMBER', 'SEASON', 'CONFERENCE']]
    
#     return p_all_nba

In [ ]:
# get_awards(2544)

In [ ]:
all_awards = pd.DataFrame(columns=['PERSON_ID','FIRST_NAME', 'LAST_NAME', 'ALL_NBA_TEAM_NUMBER', 'SEASON', 'CONFERENCE'])

ids = [2544, 76003, 201607]

for player in players_df['id']:
    awards = playerawards.PlayerAwards(player_id=player)
    awards_df = awards.player_awards.get_data_frame()
    
    awards_df = awards_df[awards_df['DESCRIPTION'] == 'All-NBA']
    awards_df = awards_df[['PERSON_ID','FIRST_NAME', 'LAST_NAME', 'ALL_NBA_TEAM_NUMBER', 'SEASON', 'CONFERENCE']]
    
    for i in awards_df:
        all_awards = all_awards.append(awards_df, ignore_index=True)
        
all_awards